.container {
    height: 70%;
    padding:10%;
}

.info_container {
    height:30%;
    width:100%;
}
.temperature_container {
    height: 64%;
    width: 50%;
    float: right;
    position: relative;
}
.icon_container {
    height: 64%;
    width: 50%;
    float: left;
    position: relative;
}
.bottom {
    position: absolute;
    bottom: 10%;
}

#temp {
    font-size: 12em;
    margin:0;
}

/* to size the google font icons */
.mdi, .wi {
    font-size:14em !important;
}
h1 {
    font-size: 4em;
    line-height: 0;
}
h2 {
    font-size: 3em;
}